:root {
  --mainColor: rgb(39, 174, 96);
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Raleway', sans-serif;
  background-color: var(--mainColor);
  color: var(--mainColor);
  transition: background-color 1s ease;
}
